.custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid black;
    padding: 8px;
  }
  
  .disabled {
    opacity: 0.5;
  }
  